html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF; 
    font-family: Arial, Helvetica, sans-serif; 
}
h1{ 
    font-size: 29px;
    font-weight: bold;
    color: #1E9585;
    margin:0;
}
#subtitulo{
    font-size: 13px;
    color: #9BABB7;
    
}
.login{
    width: 300px;
    height: 340px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 40px 0 0 200px;
    padding: 30px 60px;
    text-align: center;
    
}
.inputs_login{
    width: 250px;
    height: 30px;
    border: 1px solid #9BABB7;
    border-radius: 3px;
    display: flex;
    color: #1E9585;
    
}
.inputs_login input{
    height: 28px;
    border: none;
    outline: none;
    margin-left: 3px;
    width: calc(100% - 12px);     
}
.inputs_login i {
    margin-left: 8px;
    line-height: 28px;
}
#button{
    border-radius: 20px;
    border: 1px solid #1E9585;
    width: 110px;
    height: 35px;
    background-color: #1E9585;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    filter: opacity(70%);

}
.banner
{
    width: 520px;
    height: 40;
    margin: 40px 0 0 500px;
}

#container{
    display: flex;
}

.estudante{
    width: 100%;
    height: 550px;
    background: url('./img/background.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.foto1{
    width: 520px;
    height: 40;
}

#link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #9BABB7;
}

